/* Estilo para la lista de reproducción */
.col-6 {
    background-color: #87CEEB; /* Cambia el color de fondo a uno celeste de tu elección */
    padding: 20px; /* Agrega espacio interno para separar los elementos */
}

/* Estilo para los elementos de audio */
.audio-track {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: #db0000; /* Cambia el color de fondo a uno oscuro de tu elección */
    padding: 10px; /* Agrega espaciado interno para separar los elementos */
}

.audio-track h2 {
    margin: 0;
    flex-grow: 1;
    text-align: left;
    color: #fff; /* Cambia el color del texto a blanco o claro para que sea legible en fondo oscuro */
}

.audio-track img {
    max-width: 100px;
    margin-right: 10px;
}

/* Estilo para los controles de audio */
audio {
    width: 100%;
    max-width: 300px;
}


